body {
  margin: 0;
  padding: 0;

}

.kontener {
  display: flex;
  margin-top: 30px;
}

#kont_2 {
  width: 32%;
  height: 700px;
  margin-left: 18%;
  background-color: rgb(245, 237, 228);
}

#kont_3 {
  margin-right: -60px;
  width: 32%;
  height: 700px;
}

header {
  display: flex;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header a:hover {
  text-decoration: none;
  color: #fc1e1e;
  font-weight: bold;
}

#slider {
  margin-top: 30px;
  height: 150px;
  width: 85%;
  margin-left: 7.5%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.527);
  text-align: center;
}

#slider #slid_kont {
  display: flex;
  margin-left: 390px;
}

#slider #slid_kont #logo_1 {
  width: 20%;
  height: 100px;
  margin-top: -15px;
  padding-left: 20px;
}

#o_mnie {
  margin-top: 30px;
  height: 250px;
  width: 65%;
  background-color: rgb(245, 237, 228);
  margin-left: 17.5%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.527);
  text-align: center;
}

#o_mnie_przyc {
  margin-left: 900px;
  margin-top: 30px;
  width: 10%;
  height: 45px;
  background-color: #FFF0BF;
  border-color: #FFF0BF;
  border-radius: 5%;
  font-size: larger;
}

#o_mnie_przyc:hover {
  margin-left: 875px;
  margin-top: 25px;
  width: 11%;
  height: 50px;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
  border-radius: 5%;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
}

#teskt_kont {
  font-size: 52px;

}

#teskt_kont_1 {
  font-size: 42px;

}

#teskt_kont_2 {
  font-size: 16px;

}

#logo_1 {
  width: 20%;
  height: 100px;
  margin-top: -15px;
  padding-left: 20px;
}

#kont_2_przyc {
  margin-left:45px;
  margin-top: 35px;
  width: 25%;
  height: 40px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
}

#kont_2_przyc:hover {
  margin-left: 75px;
  margin-top: 35px;
  width: 25%;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
}

#teskt_janek {
  font-weight: lighter;
}

#Prace_teskt {
  text-align: center;
  margin-left: 80px;
}

#Prace_kont {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#Prace_przyc {
  margin-left: 920px;
  margin-top: 35px;
  width: 9%;
  height: 45px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
}

#Prace_przyc:hover {
  margin-left: 910px;
  margin-top: 35px;
  width: 10%;
  height: 45px;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
}

#Kont_tekst {
  text-align: center;
  margin-left: 95px;
}

#Kont_el {
  height: 350px;
  width: 65%;
  background-color: bisque;
  border: 10px solid #F6FC1E;
  margin-left: 320px;
  margin-top: 20px;
}

#Kont_el #Kont_tekst_2 {
  font-size: 48px;
  color: #fc891e;
}

#Kont_el #kont_przyc {
  margin-left: 900px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
  height: 45px;
  width: 15%;
}

#Kont_el #kont_przyc:hover {
  margin-left: 870px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
  height: 45px;
  width: 18%;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
}

#kont_3 {
  width: 120px;
  height: 100px;
  background-color: rgb(245, 237, 228);
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

#przy_gora {
  height: 40px;
  margin-right: 150px;
  width: 2.5%;
  margin-top: 35px;
  border-radius: 25%;
}

#przy_gora:hover {
  height: 40px;
  margin-right: 150px;
  width: 2.5%;
  margin-top: 35px;
  border-radius: 35%;
  animation: forwards powie 0.8s;
}

@keyframes powie {
  0% {
    transform: scale(1);
    border-radius: 25%;
  }

  100% {
    transform: scale(1.1);
    border-radius: 35%;
    background-color: #F6FC1E;
  }
}

section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section a:hover {
  text-decoration: none;
  color: red;
  font-weight: bolder;
}

#logo {
  width: 25%;
  background-color: azure;
  height: 120px;
}

#menu {
  width: 75%;
  background-color: azure;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  
}

#menu p {
  padding-left: 50px;
}

footer {
  display: flex;
  height: 200px;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  margin-top: 100px;
  margin-bottom: 0;
  width: 100%;
  font-size: 14px;
}

footer a{
    text-decoration: none;
  color: black;
  font-weight: bold;
}
footer a:hover{
    text-decoration: none;
  color: red;
  font-weight: bolder;
}

footer #logo_f {
  height: 200px;
  display: flex;
  align-items: end;
  width: 25%;
}

footer #linki {
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

footer #linki #zakladki {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #copyright {
  width: 25%;
  align-items: end;
  display: flex;
  justify-content: center;
}


/*# sourceMappingURL=index.css.map */
@media (max-width: 768px)
{
 body {
  margin: 0;
  padding: 0;
 

}

.kontener {
  display: flex;
  margin-top: 30px;
}

#kont_2 {
  width: 42%;
  height: 400px;
  margin-left: 8%;
  background-color: rgb(245, 237, 228);
}

#kont_3 {
  margin-right: 0px;
  width: 32%;
  height: 700px;
  font-size: 12px;
}

header {
  display: flex;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header a:hover {
  text-decoration: none;
  color: #00ff95;
  font-weight: bold;
}

#slider {
  margin-top: 30px;
  height: 150px;
  width: 85%;
  margin-left: 7.5%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.527);
  text-align: center;
}

#slider #slid_kont {
  display: flex;
  margin-left: 390px;
}

#slider #slid_kont #logo_1 {
  width: 20%;
  height: 100px;
  margin-top: -15px;
  padding-left: 20px;
}

#o_mnie {
  margin-top: 30px;
  height: 150px;
  width: 65%;
  background-color: rgb(245, 237, 228);
  margin-left: 17.5%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.527);
  text-align: center;
}

#o_mnie_przyc {
  margin-left: 140px;
  margin-top: 30px;
  width: 140px;
  font-size: 12px;
  height: 45px;
  background-color: #FFF0BF;
  border-color: #FFF0BF;
  border-radius: 5%;
  font-size: larger;
}

#o_mnie_przyc:hover {
  margin-left: 130px;
  margin-top: 25px;
  width: 140px;
  height: 50px;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
  border-radius: 5%;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
}

#teskt_kont {
  font-size: 12px;

}

#teskt_kont_1 {
  font-size: 10px;

}

#teskt_kont_2 {
  font-size: 8px;

}

#logo_1 img{
display: flex;
flex-direction: row;
height: 20px;
}

#kont_2_przyc {
  margin-left: 35px;
  margin-top: 35px;
  width: 80px;
  font-size: 6px;
  height: 20px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
}

#kont_2_przyc:hover {
  margin-left: 25px;
  margin-top: 35px;
  width: 100px;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
}

#teskt_janek {
  font-weight: lighter;
  font-size: 10px
}

#Prace_teskt {
  text-align: center;
  margin-left: 80px;
}

#Prace_kont {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#Prace_kont img{
   height: 70px;   
}

#Prace_przyc {
  margin-left: 150px;
  margin-top: 35px;
  width: 100px;
  font-size: 12px;
  height: 35px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
}

#Prace_przyc:hover {
  margin-left: 140px;
  margin-top: 35px;
  width: 120px;
  font-size: 12px;
  height: 45px;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
}

#Kont_tekst {
  text-align: center;
  margin-left: 95px;
}

#Kont_el {
  height: 240px;
  width: 75%;
  background-color: bisque;
  border: 10px solid #F6FC1E;
  margin-left: 20px;
  margin-top: 20px;
}
#Kont_el #Kont_tekst{
  text-align: center;
  margin-right: 80px;
}
#Kont_el #Kont_tekst_2 {
  font-size: 18px;
  text-align: center;
  color: #fc891e;
}

#Kont_el #kont_przyc {
  margin-left: 150px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
  height: 45px;
  width: 100px;
  margin-top: 40px;
  font-size: 12px;
}
#przyc_kont_2{
  display: flex;
  flex-direction: column;
  font-size: 1px;
  padding-right: 30px;
}
#przyc_kont_2 button{
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 15px;
}

#Kont_el #kont_przyc:hover {
  margin-left: 140px;
  background-color: rgba(255, 240, 191, 0.7529411765);
  border-color: rgba(255, 240, 191, 0.7529411765);
  height: 45px;
  width: 120px;
  background-color: #F6FC1E;
  border-color: #F6FC1E;
}

#kont_3 {
  width: 60px;
  height: 100px;
 
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 12px;
  display: flex;
  justify-content: start;
}

#przy_gora {
  height: 40px;
  margin-right: 150px;
  width: 2.5%;
  margin-top: 35px;
  border-radius: 25%;
}

#przy_gora:hover {
  height: 40px;
  margin-right: 150px;
  width: 2.5%;
  margin-top: 35px;
  border-radius: 35%;
  animation: forwards powie 0.8s;
}

@keyframes powie {
  0% {
    transform: scale(1);
    border-radius: 25%;
  }

  100% {
    transform: scale(1.1);
    border-radius: 35%;
    background-color: #F6FC1E;
  }
}

section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

section a:hover {
  text-decoration: none;
  color: red;
  font-weight: bolder;
}

#logo {
  width: 25%;
  background-color: azure;
  height: 200px;
}
#logo img{
   height: 50px
}

#menu {
  width: 600px;
  height: 200px;
  
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  
}

#menu p {
  padding-left: 50px;
}

footer {
  display: flex;
  height: 350px;
  box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  margin-top: 200px;
  margin-bottom: 0;
  width: 100%;
  font-size: 12px;
}
#logo_f img{
  height: 20px;
  display: flex;
  align-items: center;
}
footer a{
    text-decoration: none;
  color: black;
  font-weight: bold;
}
footer a:hover{
    text-decoration: none;
  color: rgb(51, 255, 0);
  font-weight: bolder;
}

footer #logo_f {
  height: 50px;
  display: flex;
  align-items: end;
  justify-content: start;
  width: 40px;
  margin-left: 20px;
  
}

footer #linki {
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

footer #linki #zakladki {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

footer #copyright {
  width: 25%;
  align-items: end;
  display: flex;
  justify-content: center;
}
#kont_3 img{
  height: 100px;
}
#slid_kont img{
  height: 20px;
}
header{
  width: 100%;
  background-color: aqua;
  height: 200px;
}
#kont_4{
  font-size: 10px;
}


}
  
