header {
    display: flex;
    height: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    
    z-index: 100;
    top: 0;

}

#mapa {

    width: 100%;
    height: 120px;
    display: flex;

}

#mapa a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#mapa a:hover {
    text-decoration: none;
    color: #fc1e1e;
    font-weight: bold;

}

#mapa_teskt_1 {
    padding-left: 260px;
    padding-top: 15px;
    font-size: 25px;

}

#mapa_teskt_2 {
    padding-left: 260px;
    padding-top: 15px;
    font-size: 25px;

}

#mapa_teskt_3 {
    padding-left: 260px;
    padding-top: 15px;
    font-size: 25px;

}



#mapa_teskt_5 {
    padding-left: 260px;
    padding-top: 15px;
    font-size: 25px;

}

#NAGL {
    height: 150px;
    width: 100%;
    background-color: rgb(255, 240, 154);
    text-align: center;
    font-size: 64px;
    justify-content: center;
    margin-top: 30px;
    
}


footer {
    display: flex;
    height: 100px;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    background-color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
}
#DANE{
    width: 65%;
    height: 250px;
    background-color: azure;
    margin-top: 40px;
    margin-left: 350px;
}
#DANE_nagl{
    font-size: 48px;
    text-align: center;
}
#NATURA{
        width: 65%;
    height: 1000px;
    background-color: azure;
    text-align: center;
    margin-left: 350px;
    margin-top: 50px;
    font-size: 40px;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    gap: 20px;
    display: flex;
    padding-top: 25px;
    margin-bottom: 10px;
    justify-content: center;

}
#URO{
            width: 65%;
    height: 300px;
    background-color: azure;
    text-align: center;
    margin-left: 350px;
    margin-top: 50px;
    font-size: 40px;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    gap: 10px;
    display: flex;
    padding-top: 25px;
    margin-bottom: 10px;
    padding-left: 75px;
}
#map{
    display: inline;
    padding-left: 260px;
    font-size: 32px;
}
#FILMY{
    height: 600px;
    width: 65%;
    background: azure;
    margin-left: 350px;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
}
#FILM_fra{
    margin-left: 275px;
    margin-top: 180px;
}