body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.kontener {
    display: flex;
    margin-top: 30px;
}

#kont_2 {
    width: 32%;
    height: 700px;
    margin-left: 18%;
    background-color: rgb(245, 237, 228);
}

#kont_3 {
    margin-right: -60px;
    width: 32%;
    height: 700px;
}

header {
    display: flex;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            color: #fc1e1e;
            font-weight: bold;
        }
    }
}

#slider {
    margin-top: 30px;
    height: 150px;
    width: 85%;
    margin-left: 7.5%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.527);
    text-align: center;

    #slid_kont {
        display: flex;
        margin-left: 390px;

        #logo_1 {
            width: 20%;
            height: 100px;
            margin-top: -15px;
            padding-left: 20px;
        }
    }
}

#o_mnie {
    margin-top: 30px;
    height: 250px;
    width: 65%;
    background-color: rgb(245, 237, 228);
    margin-left: 17.5%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.527);
    text-align: center;
}

#o_mnie_przyc {
    margin-left: 900px;
    margin-top: 30px;
    width: 10%;
    height: 45px;
    background-color: #FFF0BF;
    border-color: #FFF0BF;
    border-radius: 5%;
    font-size: larger;

    &:hover {
        margin-left: 875px;
        margin-top: 25px;
        width: 11%;
        height: 50px;
        background-color: #F6FC1E;
        border-color: #F6FC1E;
        border-radius: 5%;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
    }
}

#teskt_kont {
    font-size: 52px;
    font-weight: bolder;
}

#teskt_kont_1 {
    font-size: 42px;
    font-weight: bolder;
}

#teskt_kont_2 {
    font-size: 16px;
    font-weight: bolder;
}

#logo_1 {
    width: 20%;
    height: 100px;
    margin-top: -15px;
    padding-left: 20px;
}

#kont_2_przyc {
    margin-left: 75px;
    margin-top: 35px;
    width: 25%;
    height: 40px;
    background-color: #fff0bfc0;
    border-color: #fff0bfc0;

    &:hover {
        margin-left: 75px;
        margin-top: 35px;
        width: 25%;
        background-color: #F6FC1E;
        border-color: #F6FC1E;
    }
}

#teskt_janek {
    font-weight: lighter;
}

#Prace_teskt {
    text-align: center;
    margin-left: 80px;
}

#Prace_kont {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#Prace_przyc {
    margin-left: 920px;
    margin-top: 35px;
    width: 9%;
    height: 45px;
    background-color: #fff0bfc0;
    border-color: #fff0bfc0;

    &:hover {
        margin-left: 910px;
        margin-top: 35px;
        width: 10%;
        height: 45px;
        background-color: #F6FC1E;
        border-color: #F6FC1E;
    }
}

#Kont_tekst {
    text-align: center;
    margin-left: 95px;
}

#Kont_el {
    height: 350px;
    width: 65%;
    background-color: bisque;
    border: 10px solid #F6FC1E;
    margin-left: 320px;
    margin-top: 20px;

    #Kont_tekst_2 {
        font-size: 48px;
        color: #fc891e;
    }

    #kont_przyc {
        margin-left: 900px;
        background-color: #fff0bfc0;
        border-color: #fff0bfc0;
        height: 45px;
        width: 15%;

        &:hover {
            margin-left: 870px;
            background-color: #fff0bfc0;
            border-color: #fff0bfc0;
            height: 45px;
            width: 18%;
            background-color: #F6FC1E;
            border-color: #F6FC1E;
        }
    }
}

#kont_3 {
    width: 120px;
    height: 100px;
    background-color: rgb(245, 237, 228);
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

#przy_gora {
    height: 40px;
    margin-right: 150px;
    width: 2.5%;
    margin-top: 35px;
    border-radius: 25%;

    &:hover {
        height: 40px;
        margin-right: 150px;
        width: 2.5%;
        margin-top: 35px;
        border-radius: 35%;
        animation: forwards powie 0.8s;
    }
}

@keyframes powie {
    0% {
        transform: scale(1.00);
        border-radius: 25%;
    }

    100% {
        transform: scale(1.1);
        border-radius: 35%;
        background-color: #F6FC1E;
    }
}

section {
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            color: red;
            font-weight: bolder;
        }
    }
}

#logo {
    width: 25%;
    background-color: azure;
    height: 120px;
}

#menu {
    width: 75%;
    background-color: azure;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 32px;

    p {
        padding-left: 50px;
    }
}

footer {
    display: flex;
    height: 200px;
    box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.15);
    background-color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 0;
    width: 100%;
    font-size: 14px;

    #logo_f {
        height: 200px;
        display: flex;
        align-items: end;
        width: 25%;
    }

    #linki {
        width: 50%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;

        #zakladki {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    #copyright {
        width: 25%;
        align-items: end;
        display: flex;
        justify-content: center;
    }
}